<h1>We are going to show a single question here</h1>

<h2>We will have both Edit and Delete buttons</h2>
<h3>Edit will take us to '/questions/:id/edit' which we already have</h3>
<h3>Delete button will send a DELETE request to 'questions/:id' to delete the question</h3>